<!DOCTYPE html>
<html>
<head>
    <title>REGISTRATION</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <form method="POST" action="index1.html">
        <div class="form_portion">

            <div class="heading">
                <h2>REGISTRATION</h2>
            </div>
            <div class="detials">
                <label class="label_detials">NAME</label>
                <input style="margin-left:150px;width:200px;"class="in_detials" type="text" placeholder="Enter your Full Name">

            </div>
            <div class="detials">
                <label class="label_detials">EMAIL</label>
                <input style="margin-left:146px;width:200px;" class="in_detials" type="email" placeholder="Enter your Email id">

            </div>
            <div class="detials">
                <label class="label_detials">PHONE NUMBER</label>
                <input style="margin-left:55px;width:200px;"class="in_detials" type="number" placeholder="Enter your Phone number" >

            </div>
            <div class="detials">
                <label class="label_detials">GENDER</label>
                <input type="radio" >
                <label >MALE</label>
                <input type="radio" >
                <label >FEMALE</label>
                <input type="radio" >
                <label >OTHER</label>


            </div>
            <div class="detials">
                <label class="label_detials">DATE OF BIRTH</label>
                <input style="margin-left:66px;width:200px;"class="in_detials" type="date" placeholder="Enter your password">

            </div>
            <div class="detials">
                <label class="label_detials">PASSWORD</label>
                <input style="margin-left:105px;width:200px;"class="in_detials" type="password" placeholder="Enter your password again">

            </div>
            <div class="detials">
                <label class="label_detials">RE_TYPE PASSWORD</label>
                <input style="margin-left:20px;width:200px;"class="in_detials" type="password" placeholder="Enter your password again">

            </div>
            <div class="detials">
                <div>
                  <input style="margin-left: 110px;" type="checkbox" >
                  <label >The data i mentioned above are true!</label>

                </div>

            <div class="detials">
                <div>
                    <input class="but1" type="reset">
                    <input class="but2" type="submit">

                </div>


            </div>
            <div class="copy">
                <p style="color:red ;">&copy; ABHIJITH OYUR</p>

            </div>
        </div>

    </form>
</body>
</html>